<h2>Hotelguest Details</h2> 

<hr/>
<div *ngIf="hotelcheckin">
  <div>
    <label><b>Name: </b></label> {{hotelcheckin.hotelguest.name}}
  </div>
  <div>
    <label><b>Entrada: </b></label> {{hotelcheckin.entryDate | date: 'd/MM/yyyy hh:mm'}}
  </div>
  <div [hidden]="!hotelcheckin.outDate">
    <label><b>Saída: </b></label> {{hotelcheckin.outDate | date: 'd/MM/yyyy hh:mm'}}
  </div>
  <div>
    <label><b>Vehicle: </b></label> {{hotelcheckin.ieVehicle}}
  </div>  
  <div>
    <label><b>Total Value (R$): </b></label> {{hotelcheckin.vlTotal | currency: 'BRL'}}
  </div>  
</div>

<br>
<br>
<button (click)="list()" class="btn btn-primary">Back to Hotelguest List</button><br>